.footer-container {
   width: 100%;
   padding: 20px;
   box-sizing: border-box;
 }

 .texto-container {
   display: flex;
   flex-direction: column; /* Cambiar a una estructura de columna */
   justify-content: center;
   align-items: center; /* Centrar verticalmente */
   bottom: 0;
   left: 0;
   text-align: center;
}
 
.nombre-text {
   font-family: 'Poppins', sans-serif;
   font-size: 16px;
   font-weight: 520;
   margin-left: 20px;
}

.anio-text {
   font-family: 'Poppins', sans-serif;
   font-size: 16px;
   font-weight: 520;
   margin-right: 20px;
}
 